.post-body .collapsed {
  display: none;
}

.post-body .expanded {
  display: inline-block;
}

.post-body .toggle-post-body {
  color: #cc6633;
  cursor: pointer;
  margin-bottom: 0.5em;
  border-bottom: 1px dashed;
  font-size: 90%;
}

.post-body .toggle-post-body.collapse:before {
  content: '\25BC';
  margin-right: 5px;
}

.post-body .toggle-post-body.expand:before {
  content: '\25B6';
  margin-right: 5px;
}

